# Import libraries

In [58]:
import pandas as pd
from sklearn import ensemble
import random

# Import data

In [59]:
df = pd.read_csv('../../datasource/EuroMillions_80percent.csv', sep=";")
df

            Date  N1  N2  N3  N4  N5  E1  E2  Winner      Gain
0     2004-01-10   2   4  31  17   1   9   3       0         0
1     2004-01-10  19  28  45  15  34  12  10       0         0
2     2004-01-10  20   5  50  38  48   1   4       0         0
3     2004-01-10   8  33  50  48  13  12   1       0         0
4     2004-01-10  48  20  45  21  12   6   5       1  29785269
...          ...  ..  ..  ..  ..  ..  ..  ..     ...       ...
6585  2021-12-01  36  43  17  25  38  11   5       0         0
6586  2021-12-01  17  39  41  25  14   4   9       0         0
6587  2021-12-01  10  38  32   4   3   9   5       0         0
6588  2021-12-01  17   5   7   2  26   2   8       0         0
6589  2021-12-01   2  10  18  34  35   6   9       0  41607178

[6590 rows x 10 columns]

# Create result for model

In [60]:
df['Result'] = [x != 0 for x in df['Gain']]

# Split dataset

In [61]:
# split df for train and test
dfTrain = df[:int(len(df) * 0.66)]
dtTest = df[int(len(df) * 0.66):]
print(dfTrain.shape, dtTest.shape)

(4349, 11) (2241, 11)

# Train a model

In [62]:
# create a random forest model from one class
model = ensemble.RandomForestClassifier(n_estimators=50, max_depth=5, random_state=0)

# fit the model on train data
model.fit(dfTrain[['N1', 'N2', 'N3', 'N4', 'N5', 'E1', 'E2']], dfTrain['Result'])

RandomForestClassifier(max_depth=5, n_estimators=50, random_state=0)

# Show result of model

In [63]:
# show model results
print(model.score(dtTest[['N1', 'N2', 'N3', 'N4', 'N5', 'E1', 'E2']], dtTest['Result']))

0.7996430165104864

# Use model

In [111]:
# generate random numbers
set = random.sample(range(1, 51), 5).__add__(random.sample(range(1, 13), 2))
print(set)
# use model from given data
result = model.predict([set])
print(result)

[32, 12, 20, 5, 7, 12, 8]
[False]

/home/sylvain/.pyenv/versions/3.10.0/lib/python3.10/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(